<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <groups>
  <run>
  <exclude name="Login"></exclude></run></groups>
    <classes>
      <class name="org.adactin.testng.Sample2"/>
      <class name="org.adactin.testng.Sample1"/>
      <class name="org.adactin.testng.Sample3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
